
    <li id='post<%= post.id %>'>
      <%= post.title %>
      <%= link_to 'Show', post, remote: true %>
      <%= link_to 'Edit', edit_post_path(post), remote: true %>
      <%= link_to 'Destroy', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
    </li>
